.dropdown {
  position: relative;

  .stepper-overlay {
    position: absolute;
    top:      18px;
    left:     0;
    cursor:   pointer;
    width:    24px;
    height:   24px;

    &.increment {
      left:  initial;
      right: 0;
    }
  }

  &.disabled {
    .stepper-overlay {
      cursor: not-allowed;
    }
  }
}

.jsf-handler-dropdown-variant-small {
  .dropdown {
    .stepper-overlay {
      top: 8px;
    }
  }
}
